{% extends "base.html" %}

{%  block content %}

<div class="container-fluid px-4">
    <div class="grid row">
        <div class="col-6">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">The list of Hubs associated:</li>
            </ol>
        </div>
        <div class="col-6 mt-4 p-0">
            <a class="btn btn-success" href="/register_hub">New Hub</a>
        </div>
    </div>

    <div class="row">

        {% if hubs %}
                {% for hub in hubs %}

                    <div class="card mb-3">
                        <div class="card-body">
                          <h5 class="card-title">{{ hub.name }}</h5>
                          <p class="card-text"></p>
                          <a href="hub.html" class="btn btn-primary">View hub</a>
                          <a href="#" class="btn btn-danger">Unregister hub</a>
                        </div>
                    </div>

                    {% endfor %}

        {% else %}
            <p>No hubs found for this group.</p>
        {% endif %}

    </div>

    <a class="btn btn-primary" href="hub_groups.html">Back to Hub Groups</a>
</div>

{% endblock %}
