{% extends "base.html" %}

{%  block content %}

    <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize text-medium text-white">Hubs associated</h6>
    </div>

    <div class="row mt-4">
        {% if hubs %}
                {% for hub in hubs %}
        <div class="card mb-4">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="numbers">
                            <h3 class="font-weight-bolder">
                                {{ hub.name }}
                            </h3>
                            <!--<p class="mb-0">
                                <span class="text-success text-sm font-weight-bolder">Desired Humidity:</span>
                                50%
                            </p>
                            <p class="mb-0">
                                <span class="text-success text-sm font-weight-bolder">Desired Watering Frequency:</span>
                                Daily
                            </p>-->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-end grid icons-hub-group">
                        <a href="/hub"><div class="icon icon-shape bg-gradient-info shadow-primary text-center rounded-circle icon-hub-group">
                            <i class="fa-solid fa-eye text-lg opacity-10"></i>
                        </div></a>
                        <a href="/unregister_hub?group_id={{ group.u_id }}&hub_id={{ hub.u_id }}"><div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle icon-hub-group">
                            <i class="fa-solid fa-trash text-lg opacity-10"></i>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

            {% else %}
                <p>No hubs found for this group.</p>
        {% endif %}

    </div>

{% endblock %}
